/* Apply styles based on the defined themes */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px !important;
  /* height: 50px; */
  border-bottom: 1px solid var(--light-border);
  position: sticky !important;
  top: 0;
  background-color: var(--light-bg);
  color: var(--light-textColor);
  z-index: 999;
}

/* Left side of the navbar */
.navbar .left {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Style the span element inside .left */
.navbar .left span {
  font-weight: bold;
  font-size: 20px;
  color: var(--light-logo);
}

/* Style the search bar */
.navbar .left .search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  padding: 5px;
}

/* Style the input inside the search bar */
.navbar .left .search input {
  border: none;
  width: 500px;
  background-color: transparent;
  color: var(--light-textColor);

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 1024px) {
    width: 200px;
  }
}
.navbar .left .search input:focus {
  outline: none;
}
/* Right side of the navbar */
.navbar .right {
  display: flex;
  align-items: center;
  gap: 20px;

  /* Hide the entire right section on mobile */
  @media (max-width: 768px) {
    display: none;
  }
}
.leftBar .container .menu .shortcuts,
.leftBar .container .menu .others {
  font-weight: 700 !important;
  font-size: 14px;
}
/* Style the user section in the right side */
.navbar .right .user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;

  /* Hide the user section on tablets */
  @media (max-width: 1024px) {
    display: none;
  }
}

/* Style the user's image */
.navbar .right .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

/* Style the user's name */
.navbar .right .user span {
  /* Add your styles here */
}
.fa-house,
.fa-moon,
.fa-table-cells-large,
.fa-user,
.fa-envelope,
.fa-bell {
  font-size: 20px;
  color: var(--light-textColor);
  cursor: pointer;
}
.container-content {
  display: flex;
}

/*================= LEFT BAR====================== */
/* Import external styles */

.leftBar {
  /* Apply styles based on the defined themes */
  flex: 2;
  margin-right: 20px;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  background-color: var(--light-bg); /* Assuming themed("bg") is a variable */
  color: var(
    --light-textColor
  ); /* Assuming themed("textColor") is a variable */

  /* Hide on mobile */
  @media (max-width: 768px) {
    display: none;
  }

  /* Hide scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Styles for .container */
.leftBar .container {
  padding: 20px;
}

/* Horizontal rule styles */
.leftBar .container hr {
  margin: 20px 0px;
  border: none;
  height: 0.5px;
  background-color: var(
    --light-border
  ); /* Assuming themed("border") is a variable */
}

/* Styles for .menu */
.leftBar .container .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Styles for span elements inside .menu */
.leftBar .container .menu span {
  font-size: 12px;
  font-weight: 500;
}

/* Styles for .user section */
.leftBar .container .menu .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Styles for user's image */
.leftBar .container .menu .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

/* Styles for user's name */
.leftBar .container .menu .user span {
  font-size: 14px;
}

/* Styles for .item section */
.leftBar .container .menu .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
a {
  text-decoration: none !important;
  color: var(--light-textColor) !important;
}
/* Styles for item's image */
.leftBar .container .menu .item img {
  width: 30px;
}

/* Styles for item's text */
.leftBar .container .menu .item span {
  font-size: 14px;
}

/* OUTLET */
.outlet {
  flex: 6;
}
/* RIGHT BAR */
/* Import styles from "../../style.scss" here if needed */

.rightBar {
  flex: 3;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  background-color: var(--bgSoft);
}

@media screen and (max-width: 768px) {
  .rightBar {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .rightBar {
    display: none;
  }
}

.rightBar::-webkit-scrollbar {
  display: none;
}

.rightBar .container {
  padding: 20px;
}

.rightBar .item {
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--bg);
}

.rightBar span {
  color: gray;
}

.rightBar .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.rightBar .user .userInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.rightBar .user .userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightBar .user .userInfo .online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 0;
  left: 30px;
}

.rightBar .user .userInfo p {
  color: var(--textColorSoft);
}

.rightBar .user .userInfo span {
  font-weight: 500;
  color: var(--textColor);
}

.rightBar .user .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rightBar .user .buttons button {
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.rightBar .user .buttons button:first-child {
  background-color: #5271ff;
  padding: 10px;
  border-radius: 6px;
}

.rightBar .user .buttons button:last-child {
  background-color: #f0544f;
  padding: 10px;
  border-radius: 6px;
}

/* STORIES */
/* Import styles from "../../style.scss" here if needed */

.stories {
  display: flex;
  gap: 10px;
  height: 250px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .stories {
    height: 50px;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  .stories {
    height: 150px;
    gap: 20px;
  }
}

.stories .story {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 768px) {
  .stories .story {
    flex: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.stories .story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stories .story span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .stories .story span {
    display: none;
  }
}

.stories .story button {
  position: absolute;
  bottom: 40px;
  left: 10px;
  color: white;
  background-color: #5271ff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .stories .story button {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.modal-title {
  text-align: center;
}

.edit-profile {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #e4e6eb;

  border: none;
  color: #050505;
  display: block;
}
.edit-profile i {
  margin-right: 8px;
}
.edit-profile a {
  font-weight: 600;
}

.edit-profile:hover {
  background-color: #d4d6db;
}
.container-information,
.container-coverimg,
.container-avt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.information-editprofile .title-edit,
.container-coverimg .title-edit,
.container-avt .title-edit {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--light-textColor);
}
.information-editprofile .textEdit,
.container-coverimg .textEdit,
.container-avt .textEdit {
  text-decoration: none;
  font-size: 17px;
  padding: 8px 20px;
  font-weight: 500;
  color: #5271ff !important;
}
.information-editprofile .textEdit:hover,
.container-coverimg .textEdit:hover,
.container-avt .textEdit:hover {
  background-color: #f1f2f7;
  border-radius: 6px;
}
.information-editprofile,
.coverimg-editprofile,
.avatar-editprofile {
  padding: 20px 10px;
}
.avatar-editprofile .avt-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.coverimg-editprofile .cover-img {
  width: 70%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  margin: 20px auto;
}

.group-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.group-information .location,
.group-information .username-infor {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--light-textColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-otherlink {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.location,
.username-infor {
  padding: 0 20px;
}
.location input,
.username-infor input {
  padding: 20px;
  border: none;
  width: 80%;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-textColor);
  margin-left: 20px;
}
.location input:focus,
.username-infor input:focus {
  outline: none;
  box-shadow: #ccc 0px 0px 2px 0px;
}
.location span,
.username-infor span {
  width: 20%;
  text-align: start;
}

.group-otherlink .otherlink {
  padding: 10px;
  font-size: 18px;
  display: flex;
  gap: 0px 100px;
  align-items: center;
}
.group-otherlink .otherlink i {
  margin-right: 10px;
}

.otherlink .group-social {
  display: flex;
  gap: 10px;
  width: 20%;
}
.otherlink i {
  cursor: pointer;
}
.notice-notifi,
.notice-message,
.notice-addfr {
  position: absolute;
  top: -14px;
  right: -12px;
  border-radius: 50%;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
}
.right .fa-envelope,
.right .fa-user {
  position: relative;
}
/* ==============UPPOST=================== */
.input-uppost {
  width: 90%;
  outline: none;
  /* border: solid 1px; */
  /* background-color: #3a3b3c; */
}
.input-uppost input {
  outline: none;
  width: 100%;
  padding: 10px;
  background: #f0f2f5;
  border-radius: 20px;
  margin-left: -10px;
}
.input-uppost input:hover {
  background: #dcddde;
  cursor: pointer;
}
.line {
  width: 98%;
  margin-top: 20px;
}
.other-chose {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}
.other-chose div {
  padding: 5px 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-chose div i {
  margin-right: 6px;
  font-size: 22px;
}
.other-chose div:hover {
  opacity: 0.7;
  cursor: pointer;
}
.fa-video {
  color: red;
}
.fa-face-smile {
  color: orange;
}
.fa-image {
  color: green;
}
.info-post .userInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.info-post .userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.info-post .userInfo .name-user {
  font-size: 16px;
  font-weight: 600;
}

.info-post .userInfo .container-info {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 40%;
  flex-direction: column;
}
.form-select {
  width: 25% !important;
}
.input-post {
  margin: 20px 0px;
  font-size: 18px;
}
.input-post textarea:focus-visible {
  outline: none;
}
/* Add your custom tooltip styling here */
#customTooltip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
}
.dropdown-menu .dropdown-item i {
  margin-right: 10px;
}
.dropdown-menu .dropdown-item {
  font-size: 16px;
  font-weight: 500;
  padding: 10px !important;
  margin-top: 10px !important;
}
.dropdown-menu .dropdown-item .detail-noti {
  white-space: normal;
  overflow: hidden;
}
.dropdown-menu {
  padding: 10px !important;
  width: 300px !important;
}
.drop-noti {
  width: 400px !important;
}
/* Custom styling for active nav-link */
.nav-pills .nav-link.active {
  color: blue;
  text-decoration: underline;
}
.more-icon {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.more-icon:hover {
  background-color: #e4e6eb;
}
.more-icon span {
  font-size: 20px;
  font-weight: 700;
}

.avatar-user {
  cursor: pointer;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent !important;
}

.drop-search {
  width: 100% !important;
  max-height: 500px !important;
  overflow-y: scroll !important;
}
.user-search {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0px 50px;
}
.user-search img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: -20px;
}
.recently {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--light-textColor);
}
.dropdown-item:hover {
  border-radius: 10px !important;
}

.name-search .location-search {
  font-size: 14px !important;
  color: #ccc !important;
  font-weight: 400 !important;
}
.time-search {
  position: absolute;
  right: 20px;

  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-search:hover {
  background-color: #e4e6eb;
}
