<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/friends.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <!-- Include the Material Icons CSS library -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Profile</title>
  </head>
  
    <!-- NAVBAR -->
    <div class="navbar">
      <div class="left">
        <a href="/" style="text-decoration: none">
          <span>Social</span>
        </a>
        <a href="/">
          <i class="fa-solid fa-house"></i>
        </a>

        <i class="fa-regular fa-moon"></i>
        <i class="fa-solid fa-table-cells-large"></i>
        <div class="dropdown">
          <div class="avatar-user" id="dropdownTrigger" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search..." />
        </div>
          </div>
          <ul class="dropdown-menu dropdown-menu-end drop-search" aria-labelledby="dropdownTrigger">
            <div class="recently">Recently</div>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
          </ul>
      </div>
      </div>
      <div class="right">
          <a href="../friends/index.html">
            <i class="fa-regular fa-user">
              <div class="notice-addfr">4</div>
            </i>
          </a>
       
        <a href="../chat/index.html">
          <i class="fa-regular fa-envelope">
            <div class="notice-message">2</div>
          </i>
        </a>
       
        <i class="fa-regular fa-bell"></i>
        <div class="dropdown">
          <div class="avatar-user" id="dropdownTrigger" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="user">
              <img
                src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                alt=""
              />
              
            </div>
          </div>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownTrigger">
              <li><a class="dropdown-item" href="#">
              
                <i class="user">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  />
                  John Doe
                  </i>
                </a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i>Setting</a></li>
              <hr>
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i></i>Logout </a></li>
          </ul>
      </div>
        
      </div>
    </div>
    <!-- CONTENT -->
    <div class="container-content">
     
      <!-- OUTLET -->
      <div class="outlet">
        <!-- PROFILE -->
        <div class="profile ">
          <div class="profile ">
            <div class="images">
              <img
                src="https://images.pexels.com/photos/13440765/pexels-photo-13440765.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt=""
                class="cover"
              />
              <img
                src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                alt=""
                class="profilePic"
              />
            </div>
            <div class="profileContainer container ">
              <div class="uInfo">
                <div class="left">
                  <a href="http://facebook.com"
                    ><i class="fa-brands fa-facebook"></i
                  ></a>
                  <a href="http://facebook.com"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                  <a href="http://facebook.com"
                    ><i class="fa-brands fa-twitter"></i
                  ></a>
                  <a href="http://facebook.com"
                    ><i class="fa-brands fa-linkedin"></i
                  ></a>
                  <a href="http://facebook.com"
                    ><i class="fa-brands fa-github"></i
                  ></a>
                </div>
                <div class="center">
                  <span>Jane Doe</span>
                  <div class="info">
                    <div class="item">
                      <i class="material-icons">place</i>
                      <span>USA</span>
                    </div>
                    <div class="item">
                      <i class="material-icons">language</i>
                      <span>social.dev</span>
                    </div>
                  </div>
                  
                </div>
                <div class="right">
                  <i class="material-icons">email</i>
                   <!-- Icon tag for dropdown trigger -->
  <!-- Edit Profile div -->
  <div class="edit-profile" data-bs-toggle="modal" data-bs-target="#editProfileModal">
   
        <i class="fa-solid fa-pen"></i>Edit Profile
   
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add your form or content for editing the profile here -->
                <div class="avatar-editprofile">
                  <div class="container-avt">
                    <div class="title-edit">Avatar</div>
                    
                    <a href="#" class="textEdit">Edit</a>
                  </div>
                  <img src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" alt="" class="avt-img">
                </div>
                <div class="coverimg-editprofile ">
                  <div class="container-coverimg">
                    <div class="title-edit">Cover image</div>
                    
                    <a href="#" class="textEdit">Edit</a>
                  </div>
                  <img src="https://images.pexels.com/photos/13440765/pexels-photo-13440765.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="cover-img">
                </div>
                <div class="information-editprofile ">
                  <div class="container-information">
                    <div class="title-edit">Information</div>
                    
                    
                  </div>
                  <div class="group-information">
                    <span class="username-infor"><span>User Name:</span> <input id="userNameInput" value="John Doe"  /></span>
                   <span class="location"><span>Location: </span><input value="Ho Chi Minh"/></span>
                   <div class="group-otherlink">
                    <span class="username-infor"><span>Other Network</span> </span>
                    
                    <span class="otherlink"> 
                      <div class="group-social">
                        
                        <i class="fa-brands fa-github"></i
                          > Github
                      </div>
                      <i class="fa-solid fa-xmark"></i>
                    </span>
                    <span class="otherlink"> 
                      <div class="group-social">
                        <i class="fa-brands fa-instagram"></i>
                        
                        Instagram
                      </div>
                      <i class="fa-solid fa-xmark"></i>
                    </span>
                    <span class="otherlink"> 
                      <div class="group-social">
                        
                        <i class="fa-brands fa-twitter"></i
                          >Twitter
                      </div>
                      <i class="fa-solid fa-xmark"></i>
                    </span>
                      
                   </div>
                  
                  </div>
                  
                 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

                  
 
                </div>
              </div>
            </div>
          </div>
          
          <div class="profileContainer container profileFriend">
            <div class="uInfo uInfoFriend">
              
             <div class="infor-container">
              <span class="">Friends</span>
              <div class="search-friend">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search..." />
              </div>
             </div >
             <div class="nav-friendlist">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">All Friends</button>
                  </li>
                  <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Same Location</button>
                  </li>
                  <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Liked</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Friends invitation</button>
                </li>
              </ul>
             
          </div>
      
             <div class="row group-friends">
              <div class="container-Friends col-5">
                <div class="info-friend">
                  <img src="https://scontent.fsgn5-11.fna.fbcdn.net/v/t39.30808-1/320669020_742046100796087_3386228372951991298_n.jpg?stp=c213.513.1035.1034a_dst-jpg_s120x120&_nc_cat=111&ccb=1-7&_nc_sid=18d9a1&_nc_ohc=2wU9psuQwLsAX-wy2Vo&_nc_ht=scontent.fsgn5-11.fna&oh=00_AfDJxL7dNcH_AOg7ET2aPdvzhmgZaGNbJweM-zO360QpIw&oe=651B5438" alt="">
                  <div class="name-friend">
                    <span class="username">Nguyễn Văn A</span>
                    <span class="mutual-friend">1 mutual friend</span>
                  </div>
                </div>
           <!-- Bootstrap dropdown trigger element with ul and li -->
    <div class="dropdown">
      <div class="more-icon" id="dropdownTrigger" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>...</span>
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownTrigger">
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user-xmark"></i>Unfriend</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa-regular fa-star"></i>Like</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-rectangle-xmark"></i>Unfollow </a></li>
      </ul>
  </div>

              </div>
              <div class="container-Friends col-5">
                <div class="info-friend">
                  <img src="https://scontent.fsgn5-11.fna.fbcdn.net/v/t39.30808-1/320669020_742046100796087_3386228372951991298_n.jpg?stp=c213.513.1035.1034a_dst-jpg_s120x120&_nc_cat=111&ccb=1-7&_nc_sid=18d9a1&_nc_ohc=2wU9psuQwLsAX-wy2Vo&_nc_ht=scontent.fsgn5-11.fna&oh=00_AfDJxL7dNcH_AOg7ET2aPdvzhmgZaGNbJweM-zO360QpIw&oe=651B5438" alt="">
                  <div class="name-friend">
                    <span class="username">Nguyễn Văn A</span>
                    <span class="mutual-friend">1 mutual friend</span>
                  </div>
                </div>
           <!-- Bootstrap dropdown trigger element with ul and li -->
    <div class="dropdown">
      <div class="more-icon" id="dropdownTrigger" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>...</span>
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownTrigger">
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user-xmark"></i>Unfriend</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa-regular fa-star"></i>Like</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-rectangle-xmark"></i>Unfollow </a></li>
      </ul>
  </div>

              </div>
              <div class="container-Friends col-5">
                <div class="info-friend">
                  <img src="https://scontent.fsgn5-11.fna.fbcdn.net/v/t39.30808-1/320669020_742046100796087_3386228372951991298_n.jpg?stp=c213.513.1035.1034a_dst-jpg_s120x120&_nc_cat=111&ccb=1-7&_nc_sid=18d9a1&_nc_ohc=2wU9psuQwLsAX-wy2Vo&_nc_ht=scontent.fsgn5-11.fna&oh=00_AfDJxL7dNcH_AOg7ET2aPdvzhmgZaGNbJweM-zO360QpIw&oe=651B5438" alt="">
                  <div class="name-friend">
                    <span class="username">Nguyễn Văn A</span>
                    <span class="mutual-friend">1 mutual friend</span>
                  </div>
                </div>
           <!-- Bootstrap dropdown trigger element with ul and li -->
    <div class="dropdown">
      <div class="more-icon" id="dropdownTrigger" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>...</span>
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownTrigger">
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user-xmark"></i>Unfriend</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa-regular fa-star"></i>Like</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-rectangle-xmark"></i>Unfollow </a></li>
      </ul>
  </div>

              
            
              </div>
             </div>
               
            </div>
           
          </div>
        </div>
      
       
      </div>
    
 
    </div>
  </body>

  <script src="./js/friends.js"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  
 
</html>
