<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login">
      <div class="card">
        <div class="left">
          <h1>Hello World.</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero cum,
            alias totam numquam ipsa exercitationem dignissimos, error nam,
            consequatur.
          </p>
          <span>Don't you have an account?</span>
          <a th:href="@{http://localhost:8080/register}">
            <button>Register</button>
          </a>
        </div>
        <div class="right">
          <h1>Login</h1>
          <form id="loginForm">
            <input type="text" placeholder="Username" id="username" />
            <input type="password" placeholder="Password" id="password" />
            <button id="loginButton">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="../context/authContext.js"></script>
  <script>
    function handleLogin(event) {
      event.preventDefault();
      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;

      var isLoggedIn = login(username, password);

      if (isLoggedIn) {
        alert("Đăng nhập thành công!");
      } else {
        alert(
          "Đăng nhập thất bại. Vui lòng kiểm tra tên người dùng và mật khẩu."
        );
      }
    }
    var loginForm = document.getElementById("loginForm");
    loginForm.addEventListener("submit", handleLogin);
  </script>
</html>
