<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/profile.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <!-- Include the Material Icons CSS library -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Profile</title>
  </head>
  
    <!-- NAVBAR -->
    <div class="navbar">
      <div class="left">
        <a href="/" style="text-decoration: none">
          <span>Social</span>
        </a>
        <a href="/">
          <i class="fa-solid fa-house"></i>
        </a>

        <i class="fa-regular fa-moon"></i>
        <i class="fa-solid fa-table-cells-large"></i>
        <div class="dropdown">
          <div class="avatar-user" id="dropdownTrigger" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search..." />
        </div>
          </div>
          <ul class="dropdown-menu dropdown-menu-end drop-search" aria-labelledby="dropdownTrigger">
            <div class="recently">Recently</div>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
              
                <div class="user-search">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt=""
                  >
                  <div class="name-search">
                    John Doe

                    <span class="location-search">Sai Gon</span>
                  </div>
                  
                  <i class="fa-solid fa-xmark time-search"></i>
                </div>
                </a>
              </li>
          </ul>
      </div>
      </div>
      <div class="right">
        <a href="../friends/index.html">
          <i class="fa-regular fa-user">
            <div class="notice-addfr">4</div>
          </i>
        </a>
     
      <a href="../chat/index.html">
        <i class="fa-regular fa-envelope">
          <div class="notice-message">2</div>
        </i>
      </a>
        <i class="fa-regular fa-bell"></i>
        <div class="user">
          <img
            src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
            alt=""
          />
          
        </div>
      </div>
    </div>
    <!-- CONTENT -->
    <div class="container-content">
      <!-- LEFT BAR -->
      <div class="leftBar">
        <div class="container">
          <div class="menu">
            <div class="user">
              <img
                src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                alt=""
              />
              <span>John Doe</span>
            </div>
            <div class="item">
              <a href="/friends/index.html">
                <img src="../assets/1.png" alt="" />
                <span>Friends</span>
              </a>
             
            </div>
            <div class="item">
              <img src="../assets/2.png" alt="" />
              <span>Groups</span>
            </div>
            <div class="item">
              <img src="../assets/3.png" alt="" />
              <span>Marketplace</span>
            </div>
            <div class="item">
              <img src="../assets/4.png" alt="" />
              <span>Watch</span>
            </div>
            <div class="item">
              <img src="../assets/5.png" alt="" />
              <span>Memories</span>
            </div>
          </div>
          <hr />
          <div class="menu">
            <span class="shortcuts">Your shortcuts</span>
            <div class="item">
              <img src="../assets/6.png" alt="" />
              <span>Events</span>
            </div>
            <div class="item">
              <img src="../assets/7.png" alt="" />
              <span>Gaming</span>
            </div>
            <div class="item">
              <img src="../assets/8.png" alt="" />
              <span>Gallery</span>
            </div>
            <div class="item">
              <img src="../assets/9.png" alt="" />
              <span>Videos</span>
            </div>
            <div class="item">
              <img src="../assets/10.png" alt="" />
              <span>Messages</span>
            </div>
          </div>
          <hr />
          <div class="menu">
            <span class="others">Others</span>
            <div class="item">
              <img src="../assets/11.png" alt="" />
              <span>Fundraiser</span>
            </div>
            <div class="item">
              <img src="../assets/12.png" alt="" />
              <span>Tutorials</span>
            </div>
            <div class="item">
              <img src="../assets/13.png" alt="" />
              <span>Courses</span>
            </div>
          </div>
        </div>
      </div>
      <!-- OUTLET -->
      <div class="outlet">
        <!-- PROFILE -->
        <div class="profile">
          <div class="images">
            <img
              src="https://images.pexels.com/photos/13440765/pexels-photo-13440765.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
              alt=""
              class="cover"
            />
            <img
              src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
              alt=""
              class="profilePic"
            />
          </div>
          <div class="profileContainer">
            <div class="uInfo">
              <div class="left">
                <a href="http://facebook.com"
                  ><i class="fa-brands fa-facebook"></i
                ></a>
                <a href="http://facebook.com"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
                <a href="http://facebook.com"
                  ><i class="fa-brands fa-twitter"></i
                ></a>
                <a href="http://facebook.com"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
                <a href="http://facebook.com"
                  ><i class="fa-brands fa-github"></i
                ></a>
              </div>
              <div class="center">
                <span>Jane Doe</span>
                <div class="info">
                  <div class="item">
                    <i class="material-icons">place</i>
                    <span>USA</span>
                  </div>
                  <div class="item">
                    <i class="material-icons">language</i>
                    <span>social.dev</span>
                  </div>
                </div>
                <button>Add Friend</button>
              </div>
              <div class="right">
                <i class="material-icons">email</i>
                <!-- Edit Profile div -->
  <div class="edit-profile" data-bs-toggle="modal" data-bs-target="#editProfileModal">
   
    <i class="fa-solid fa-pen"></i>Edit Profile

</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Add your form or content for editing the profile here -->
            <div class="avatar-editprofile">
              <div class="container-avt">
                <div class="title-edit">Avatar</div>
                
                <a href="#" class="textEdit">Edit</a>
              </div>
              <img src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" alt="" class="avt-img">
            </div>
            <div class="coverimg-editprofile ">
              <div class="container-coverimg">
                <div class="title-edit">Cover image</div>
                
                <a href="#" class="textEdit">Edit</a>
              </div>
              <img src="https://images.pexels.com/photos/13440765/pexels-photo-13440765.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="cover-img">
            </div>
            <div class="information-editprofile ">
              <div class="container-information">
                <div class="title-edit">Information</div>
                
                
              </div>
              <div class="group-information">
                <span class="username-infor"><span>User Name:</span> <input id="userNameInput" value="John Doe"  /></span>
               <span class="location"><span>Location: </span><input value="Ho Chi Minh"/></span>
               <div class="group-otherlink">
                <span class="username-infor"><span>Other Network</span> </span>
                
                <span class="otherlink"> 
                  <div class="group-social">
                    
                    <i class="fa-brands fa-github"></i
                      > Github
                  </div>
                  <i class="fa-solid fa-xmark"></i>
                </span>
                <span class="otherlink"> 
                  <div class="group-social">
                    <i class="fa-brands fa-instagram"></i>
                    
                    Instagram
                  </div>
                  <i class="fa-solid fa-xmark"></i>
                </span>
                <span class="otherlink"> 
                  <div class="group-social">
                    
                    <i class="fa-brands fa-twitter"></i
                      >Twitter
                  </div>
                  <i class="fa-solid fa-xmark"></i>
                </span>
                  
               </div>
              
              </div>
              
             
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>
</div>
              </div>
            </div>
          </div>
        </div>
        <div id="up-post">
     
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="info-post">
          <div class="userInfo">
            <img
              src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
              alt="User Profile Pic"
            />
            
              <span class="name-user">John Deap</span>
              
              <select class="form-select" id="postVisibility">
                <option selected>Public</option>
                <option value="friends">Friends</option>
                <option value="only-me">Only Me</option>
              </select>
           
            

          </div>
          <div class="input-post">
            <textarea name="" id="" cols="52" rows="10" placeholder="Enter your message here..."></textarea>
          </div>
          <div class="other-chose">
            <div>
              <i class="fa-solid fa-video"></i>
              <span>Stream</span>
            </div>
            <div id="upload-image">
              <i class="fa-regular fa-image" ></i>
              <span>Image</span>
              <!-- Hidden file input -->
              <input type="file" id="file-input" style="display: none;" accept="image/*" onchange="handleFileUpload(this)">
            </div>
            <div>
              <i class="fa-regular fa-face-smile"></i>
              <span>Icon</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>
</div>
       
          <div class="post">
            <div class="container">
              <div class="user">
                <div class="userInfo">
                  <img
                    src="https://images.pexels.com/photos/14028501/pexels-photo-14028501.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
                    alt="User Profile Pic"
                  />
                </div>
                <div class="input-uppost">
                  <input type="text" placeholder="Up post" id="openModalInput" />
                </div>
              </div>
              <hr class="line" />
              <div class="other-chose">
                <div>
                  <i class="fa-solid fa-video"></i>
                  <span>Stream</span>
                </div>
                <div>
                  <i class="fa-regular fa-image"></i>
                  <span>Image</span>
                </div>
                <div>
                  <i class="fa-regular fa-face-smile"></i>
                  <span>Icon</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="post-container"></div>
        <!-- Include Posts content here -->
      </div>

      <!-- RIGHT BAR -->
      <div class="rightBar">
        <div class="container">
          <div class="item">
            <span>Suggestions For You</span>
            <div class="user">
              <div class="userInfo">
                <img
                  src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
                  alt=""
                />
                <span>Jane Doe</span>
              </div>
              <div class="buttons">
                <button>follow</button>
                <button>dismiss</button>
              </div>
            </div>
            <div class="user">
              <div class="userInfo">
                <img
                  src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
                  alt=""
                />
                <span>Jane Doe</span>
              </div>
              <div class="buttons">
                <button>follow</button>
                <button>dismiss</button>
              </div>
            </div>
          </div>
          <div class="item">
            <span>Latest Activities</span>
            <div class="user">
              <div class="userInfo">
                <img
                  src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
                  alt=""
                />
                <p><span>Jane Doe</span> changed their cover picture</p>
              </div>
              <span>1 min ago</span>
            </div>
            <div class="user">
              <div class="userInfo">
                <img
                  src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
                  alt=""
                />
                <p><span>Jane Doe</span> changed their cover picture</p>
              </div>
              <span>1 min ago</span>
            </div>
            <div class="user">
              <div class="userInfo">
                <img
                  src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
                  alt=""
                />
                <p><span>Jane Doe</span> changed their cover picture</p>
              </div>
              <span>1 min ago</span>
            </div>
            <div class="user">
              <div class="userInfo">
                <img
                  src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
                  alt=""
                />
                <p><span>Jane Doe</span> changed their cover picture</p>
              </div>
              <span>1 min ago</span>
            </div>
          </div>
          <div class="item">
            <span>Online Friends</span>
            <div class="user">
              <div class="userInfo">
                <img
                  src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
                  alt=""
                />
                <div class="online"></div>
                <span>Jane Doe</span>
              </div>
            </div>
            <div class="user">
              <div class="userInfo">
                <img
                  src="https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600"
                  alt=""
                />
                <div class="online"></div>
                <span>Jane Doe</span>
              </div>
            </div>
            <!-- Repeat the above user elements for additional online friends -->
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function generatePostHTML(post) {
      return `
      <div class="post">
        <div class="container">
          <div class="user">
            <div class="userInfo">
              <img src="${post.profilePic}" alt="User Profile Pic">
              <div class="details">
                <a href="/profile/${post.userId}" style="text-decoration: none; color: inherit;">
                  <span class="name">${post.name}</span>
                </a>
                <span class="date">1 min ago</span>
              </div>
            </div>
            <div class="more-icon" id="dropdownTrigger" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>...</span>
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownTrigger">
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-trash"></i></i>Delete</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-eye-slash"></i>Hide Post</a></li>
        
      </ul>
          </div>
          <div class="content">
            <p>${post.desc}</p>
            <img src="${post.img}" alt="Post Image">
          </div>
          <div class="info">
            <div class="item" id="item-${post.id}" onclick="toggleLike(${post.id})">
  <span class="like-icon"><i class="fa-regular fa-heart"></i></span>
  12 Likes
</div>
            <div class="item" onclick="toggleComments(${post.id})">
              <span class="comment-icon"><i class="fa-regular fa-comment-dots"></i></span>
              12 Comments
            </div>
            <div class="item">
              <span class="share-icon"><i class="fa-solid fa-share"></i></span>
              Share
            </div>
          </div>
          <div class=" comments" id="comments-container-${post.id}" >
            <!-- Comments section, replace with your comments -->
          </div>
        </div>
      </div>
    `;
    }
    const posts = [
      {
        id: 1,
        name: "John Doe",
        userId: 1,
        profilePic:
          "https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=1600",
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
        img: "https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600",
      },
      {
        id: 2,
        name: "Jane Doe",
        userId: 2,
        profilePic:
          "https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=1600",
        desc: "Post 2 Tenetur iste voluptates dolorem rem commodi voluptate pariatur, voluptatum, laboriosam consequatur enim nostrum cumque! Maiores a nam non adipisci minima modi tempore.",
        img: "https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600",
      },
    ];
    const comments = [
      {
        id: 1,
        desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nequeaspernatur ullam aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nequeaspernatur ullam aperiam",
        name: "John Doe",
        userId: 1,
        profilePicture:
          "https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
      },
      {
        id: 2,
        desc: "coment 22222 Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nequeaspernatur ullam aperiam",
        name: "Jane Doe",
        userId: 2,
        profilePicture:
          "https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=1600",
      },
    ];
    function generateCommentsHTML(comments, currentUser, postId) {
      let commentsHTML = `
        <div class="comments" id="comments-container-${postId}">
          <div class="write">
            <img src="${currentUser.profilePic}" alt="" />
            <input type="text" placeholder="write a comment" id="comment-input-${postId}" />
            <button onclick="addComment(${postId})">Send</button>
          </div>
      `;

      commentsHTML += comments
        .map(
          (comment) => `
            <div class="comment">
              <img src="${comment.profilePicture}" alt="" />
              <div class="info">
                <span>${comment.name}</span>
                <p>${comment.desc}</p>
              </div>
              <span class="date">1 hour ago</span>
            </div>
          `
        )
        .join("");

      commentsHTML += `</div>`;
      return commentsHTML;
    }

    const currentUser = {
      profilePic:
        "https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
    };

    // const commentsContainer = document.querySelectorAll("#comments-container");
    // Get the container where you want to include the posts
    const postContainer = document.getElementById("post-container");
    // Loop through the posts and append them to the container
    posts.forEach((post) => {
      const postHTML = generatePostHTML(post);
      postContainer.innerHTML += postHTML;
      const commentsContainer = document.getElementById(
        `comments-container-${post.id}`
      );
      console.log(commentsContainer);
      if (commentsContainer) {
        const commentsHTML = generateCommentsHTML(
          comments,
          currentUser,
          post.id
        );
        commentsContainer.innerHTML = commentsHTML;
      }
    });
    // for (const element of commentsContainer) {
    //   console.log(element);
    //   element.innerHTML = generateCommentsHTML(comments, currentUser);
    // }
    // commentsContainer.innerHTML = generateCommentsHTML(comments, currentUser);
    function toggleComments(postId) {
      console.log(postId);

      // Select the comments container based on postId
      const commentsContainer = document.getElementById(
        `comments-container-${postId}`
      );

      if (commentsContainer) {
        // Toggle the "hidden" class on the selected comments container
        commentsContainer.classList.toggle("hidden");
      }
    }
    function addComment(postId) {
      const commentInput = document.getElementById(`comment-input-${postId}`);
      const commentText = commentInput.value.trim();

      if (commentText !== "") {
        const newComment = {
          id: comments.length + 1,
          desc: commentText,
          name: "Your Name",
          userId: comments.length + 1,
          profilePicture:
            "https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=1600",
        };

        comments.push(newComment);
        const commentsContainer = document.getElementById(
          `comments-container-${postId}`
        );
        console.log(commentsContainer);
        commentsContainer.innerHTML = generateCommentsHTML(
          comments,
          currentUser,
          postId
        );

        // Clear the comment input field
        commentInput.value = "";
      }
    }
    function toggleLike(postId) {
      // Find the heart icon element based on postId
      const heartIcon = document.querySelector(`#item-${postId} .like-icon i`);

      if (heartIcon) {
        heartIcon.classList.toggle("red-heart");

        if (heartIcon.classList.contains("fa-regular")) {
          heartIcon.classList.remove("fa-regular", "fa-heart");
          heartIcon.classList.add("fa-solid", "fa-heart");
        } else {
          heartIcon.classList.remove("fa-solid", "fa-heart");
          heartIcon.classList.add("fa-regular", "fa-heart");
        }
      }
    }
  </script>
  <script src="../main.js"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  
  <script src="./js/profile.js"></script>
</html>
