<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/register.css" />
    <title>Register</title>
  </head>
  <body>
    <div class="register">
      <div class="card">
        <div class="left">
          <h1>Lama Social.</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero cum,
            alias totam numquam ipsa exercitationem dignissimos, error nam,
            consequatur.
          </p>
          <span>Do you have an account?</span>
          <a th:href="@{http://localhost:8080/login}">
            <button>Login</button>
          </a>
        </div>
        <div class="right">
          <div th:if ="${param.success}">
            <h1>Dang Ky Thanh Cong </h1>
          </div>
          <h1>Register</h1>
          <form th:action="@{/register}" method="post">
            <input type="text" placeholder="First Name" name="firstName" required autofocus="autofocus" />
            <input type="text" placeholder="Last Name" name="lastName" required />
            <input type="email" placeholder="Email" name="email" required />
            <input type="password" placeholder="Password" name="password" required />
            <button type="submit">Register</button>
          </form>

        </div>
      </div>
    </div>
  </body>
</html>
